<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
		AND USER_PWD = ?
		AND STATUS = 'Y'
	</entry>



<entry key="insertMember">
	INSERT INTO MEMBER(USER_NO
						,USER_ID
						,USER_PWD
						,USER_NAME
						,GENDER
						,NICKNAME
						,EMAIL
						,PHONE
						)
						VALUES(SEQ_UNO.NEXTVAL
						,?
						,?
						,?
						,?
						,?
						,?
						,?)
	</entry>
	<entry key="checkId">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
	</entry>
	
	<entry key="findPwd">
	SELECT USER_PWD
	FROM MEMBER
	WHERE USER_ID = ?
    AND EMAIL = ?
	</entry>
	<entry key="findId">
	SELECT USER_ID,USER_PWD
	FROM MEMBER
	WHERE PHONE = ?
	</entry>
	<entry key="updatePwd">
		UPDATE MEMBER
		SET USER_PWD = ?
		   ,MODIFY_DATE = SYSDATE
		WHERE USER_ID = ?
		AND USER_PWD = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="deleteMember">
		UPDATE MEMBER
		SET STATUS = 'N'
		   ,MODIFY_DATE = SYSDATE
		WHERE USER_ID = ?
	</entry>
	<entry key="updateMember">
		UPDATE MEMBER
		SET USER_NAME = ?
		   ,GENDER = ?
		   ,NICKNAME = ?
		   ,EMAIL = ?
		   ,PHONE = ?
		   ,MODIFY_DATE = SYSDATE
		WHERE USER_ID = ?
	</entry>
	<entry key="checkId">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
	</entry>
	<entry key="selectMember">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = ?
		AND STATUS = 'Y'
	</entry>
</properties>